{% extends 'base.html.twig' %}

{% block title %}{{ player.firstname }} {{ player.lastname }}{% endblock %}

{% block body %}
    <h1>Update fields</h1>

    {{ include('player/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('player/_delete_form.html.twig') }}
    <a href="{{ path('app_player_index') }}">Back</a>
{% endblock %}
