{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
    <h1>List of all players</h1>
        <div>
            <ul>
            {% for player in players %}
                <li>{{ player.id }}</br>
                {{ player.firstname }}</br>
                {{ player.lastname }}</br>
                {{ player.age }}</br>
                {{ player.size }}</br>
                {{ player.nationality }}</br>
                <form action="{{ path('app_player_new') }}">
                    <input type="submit" value="New" />
                </form></br>
                <form action="{{ path('app_player_show', {'id': player.id}) }}">
                    <input type="submit" value="View" />
                </form></br>
                <form action="{{ path('app_player_edit', {'id': player.id}) }}">
                    <input type="submit" value="Edit" />
                </form></li>
            {% else %}
                <form action="{{ path('app_player_new') }}">
                    <input type="submit" value="Create a player" />
                </form>
            {% endfor %} </ul></br>
            </div>
        <div>
            <a href="{{ path('app_index') }}">Home</a>
        </div>
{% endblock %}
