{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
    <h1>List of all players</h1>
        <div>
            <ul>
            {% for player in players %}
                <li>
                <div>
                {% if player.photo is empty %}
                    Unavailable photo
                {% else %}
                    <img width='10%' src="{{ player.photo }}"/>
                {% endif %}
                </div>
                <div>Firstname: {{ player.firstname }}</div>
                <div>Lastname: {{ player.lastname }}</div>
                <div>Age: {{ player.age }}</div>
                <div>Size: {{ player.size }}</div>
                <div>Nationality: {{ player.nationality }}</div>
                <div>
                    {% if player.club is empty %}
                        No club
                    {% else %}
                        Club: {{ player.club.name }}
                    {% endif %}
                </div>
                <div>
                    {% if player.national is empty %}
                        No national team
                    {% else %}
                        National team: {{ player.national.name }} ({{ player.national.country }})
                    {% endif %}
                </div>
                <div>
                    <form action="{{ path('app_player_new') }}">
                        <input type="submit" value="New" />
                    </form>
                    <form action="{{ path('app_player_show', {'id': player.id}) }}">
                        <input type="submit" value="View" />
                    </form>
                    <form action="{{ path('app_player_edit', {'id': player.id}) }}">
                        <input type="submit" value="Edit" />
                    </form>
                </div></li>
            {% else %}
                <form action="{{ path('app_player_new') }}">
                    <input type="submit" value="Create a player" />
                </form>
            {% endfor %} </ul>
            </div>
        <div>
            <a href="{{ path('app_index') }}">Home</a>
        </div>
{% endblock %}
