{% extends 'base.html.twig' %}

{% block title %}{{ player.firstname }} {{ player.lastname }}{% endblock %}

{% block body %}
<body style="background-image: url({{ bg }});
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_player_index') }}">Back</a>
            <h1>Details</h1>
        </div>
    </nav><br>

    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <img width='10%' src="{{ player.photo }}"/>
        </div>
        <div class="p-2 bd-highlight">
            {{ player.firstname }}
        </div>
        <div class="p-2 bd-highlight">
            {{ player.lastname }}
        </div>
        <div class="p-2 bd-highlight">
            {{ player.age }}
        </div>
        <div class="p-2 bd-highlight">
            {{ player.nationality }}
        </div>
        <div class="p-2 bd-highlight">
            {{ player.position }}
        </div>
        <div class="p-2 bd-highlight d-flex justify-content-left">
            <a class="btn btn-warning" href="{{ path('app_player_edit', {'id': player.id}) }}">Edit</a>
            {{ include('player/_delete_form.html.twig') }}
        </div>
    </div>
</body>
{% endblock %}
