{% extends 'base.html.twig' %}

{% block title %}{{ player.firstname }} {{ player.lastname }}{% endblock %}

{% block body %}
    <h1>Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ player.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ player.lastname }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ player.age }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ player.size }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ player.nationality }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_player_index') }}">back to list</a>

    <a href="{{ path('app_player_edit', {'id': player.id}) }}">edit</a>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
