{% extends 'base.html.twig' %}

{% block title %}{{ player.firstname }} {{ player.lastname }}{% endblock %}

{% block body %}
<body style="background-image: url({{ bg }});
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_player_index') }}">Back</a>
            <h1>Details</h1>
        </div>
    </nav><br>

    <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <img width='10%' src="{{ player.photo }}"/>
        </div>
        <div class="p-2 bd-highlight">
            Firstname: {{ player.firstname }}
        </div>
        <div class="p-2 bd-highlight">
            Lastname: {{ player.lastname }}
        </div>
        <div class="p-2 bd-highlight">
            Age: {{ player.age }}
        </div>
        <div class="p-2 bd-highlight">
            Nationality: {{ player.nationality }}
        </div>
        <div class="p-2 bd-highlight">
            Position: {{ player.position }}
        </div>
        <div class="p-2 bd-highlight">
            Number of trophies: {{ player.trophies }}
        </div>
        <div class="p-2 bd-highlight">
            Number of yellow cards: {{ player.yellowCards }}
        </div>
        <div class="p-2 bd-highlight">
            Number of red cards: {{ player.redCards }}
        </div>
        <div class="p-2 bd-highlight">
            Total of scored goals: {{ player.totalGoals }}
        </div>
        <div class="p-2 bd-highlight">
            Total of assists: {{ player.totalAssists }}
        </div>
        <div class="p-2 bd-highlight">
            Current club: {{ player.club.name }}
        </div>
        <div class="p-2 bd-highlight">
            Current national team: {{ player.national.name }}
        </div>
        <div class="p-2 bd-highlight d-flex justify-content-left">
            <a class="btn btn-warning" href="{{ path('app_player_edit', {'id': player.id}) }}">Edit</a>
            {{ include('player/_delete_form.html.twig') }}
        </div>
    </div>
</body>
{% endblock %}
