{% extends 'base.html.twig' %}

{% block title %}National teams{% endblock %}

{% block body %}
    <h1>List of all national teams</h1>
        <div>
            <ul>
            {% for national in nationals %}
                <li>
                <div>{{ national.name }}</div>
                <div>{{ national.country }}</div>
                <div>
                    <form action="{{ path('app_national_new') }}">
                        <input type="submit" value="New" />
                    </form>
                    <form action="{{ path('app_national_show', {'id': national.id}) }}">
                        <input type="submit" value="View" />
                    </form>
                    <form action="{{ path('app_national_edit', {'id': national.id}) }}">
                        <input type="submit" value="Edit" />
                    </form>
                <div>
                </li>
            {% else %}
                <form action="{{ path('app_national_new') }}">
                    <input type="submit" value="Create a national team" />
                </form>
            {% endfor %} </ul>
            </div>
        <div>
            <a href="{{ path('app_index') }}">Home</a>
        </div>
{% endblock %}