{% extends 'base.html.twig' %}

{% block title %}National index{% endblock %}

{% block body %}
    <h1>National index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for national in nationals %}
            <tr>
                <td>{{ national.id }}</td>
                <td>{{ national.name }}</td>
                <td>{{ national.country }}</td>
                <td>
                    <a href="{{ path('app_national_show', {'id': national.id}) }}">show</a>
                    <a href="{{ path('app_national_edit', {'id': national.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_national_new') }}">Create new</a>
{% endblock %}
