{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block body %}
    <h1>List of all clubs</h1>
        <div>
            <ul>
            {% for club in clubs %}
                <li>
                <div>
                {% if club.logo is empty %}
                    Unavailable logo
                {% else %}
                    <img width='10%' src="{{ club.logo }}"/>
                {% endif %}
                </div>
                <div>{{ club.name }}</div>
                <div>{{ club.city }}</div>
                <div>{{ club.country }}</div>
                <div>
                    <form action="{{ path('app_club_new') }}">
                        <input type="submit" value="New" />
                    </form>
                    <form action="{{ path('app_club_show', {'id': club.id}) }}">
                        <input type="submit" value="View" />
                    </form>
                    <form action="{{ path('app_club_edit', {'id': club.id}) }}">
                        <input type="submit" value="Edit" />
                    </form>
                </div></li>
            {% else %}
                <form action="{{ path('app_club_new') }}">
                    <input type="submit" value="Create a club" />
                </form>
            {% endfor %} </ul>
            </div>
        <div>
            <a href="{{ path('app_index') }}">Home</a>
        </div>
{% endblock %}
