{% extends 'base.html.twig' %}

{% block title %}Clubs{% endblock %}

{% block body %}
<body style="background-image: url({{ bg }});
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;">

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_index') }}">Home</a>
            <h1>Clubs</h1>
            <form class="d-flex" action="{{ path('app_club_new') }}">
                <input class="form-control me-2" type="submit" value="New" />
            </form>
        </div>
    </nav><br> 

    <ul class="list-group list-group-horizontal list-group-flush">
        {% for club in clubs %}
            <li class="list-group-item">
                <div class="card-img-top mx-auto">
                    {% if club.logo is empty %}
                        Unavailable logo
                    {% else %}
                        <img style="width: 50%" class="card-img-top mx-auto" src="{{ club.logo }}"/>
                    {% endif %}
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent">Name: {{ club.name }}</li>
                        <li class="list-group-item bg-transparent">City: {{ club.city }}</li>
                        <li class="list-group-item bg-transparent">Country: {{ club.country }}</li>
                        <li class="list-group-item bg-transparent">
                            <div class="d-flex justify-content-center">
                                <form action="{{ path('app_club_show', {'id': club.id}) }}">
                                    <input type="submit" value="View" />
                                </form>
                                <form action="{{ path('app_club_edit', {'id': club.id}) }}">
                                    <input type="submit" value="Edit" />
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        {% endfor %} 
    </ul>
</body>
{% endblock %}
