{% extends 'base.html.twig' %}

{% block title %}{{ club.name }}{% endblock %}

{% block body %}
    <h1>Details</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ club.name }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ club.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ club.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_club_index') }}">Back</a>

    <a href="{{ path('app_club_edit', {'id': club.id}) }}">Edit</a>

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
